@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

body {
  padding: 0;
  margin: 0;
  font-family: "arabicFont";
  color: rgba(97, 97, 97, 0.9);
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.hidden {
  display: none !important;
}

.text-left {
  align-self: flex-end;
  text-align: left;
}

.text-right {
  text-align: right;
  align-self: flex-start;
}

.text-center {
  text-align: center;
}

img {
  max-width: 100vw;
}

.unique {
  color: #ff4e6aff;
}

.unique2 {
  color: #55c4ffff;
}

h1,
.h1 {
  font-size: 20px;
}

h2,
.h2 {
  font-size: 18px;
}

h3,
.h3 {
  font-size: 16px;
}

h4,
.h4 {
  font-size: 14px;
}

h5,
.h5 {
  font-size: 12px;
}

h6,
.h6 {
  font-size: 10px;
}

.flex-0 {
  flex: 0 !important;
}

.flex-1 {
  flex: 1 !important;
}

.flex-2 {
  flex: 2 !important;
}

.flex-3 {
  flex: 3 !important;
}

.flex-4 {
  flex: 4 !important;
}

.flex-5 {
  flex: 5 !important;
}

.flex-6 {
  flex: 6 !important;
}

.clickable {
  cursor: pointer;
}

.no-decoration {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: rgba(97, 97, 97, 0.9);
  font-size: 14px;
}

a:hover {
  color: #ff4e6aff;
}

.horizontal-list {
  flex: 1;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.horizontal-list li {
  list-style-type: none;
}

.alert-success {
  text-align: right;
  padding: 20px;
  color: #ffffff;
  background-color: #6BBD6E;
  margin: 20px;
}

.alert-success button {
  font-family: "arabicFont";
  cursor: pointer;
  background-color: #ff4e6aff;
  font-size: 12px;
  color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  width: auto;
}

.alert-warning {
  text-align: right;
  padding: 20px;
  color: #ffffff;
  background-color: #ff4e6aff;
  margin: 20px;
}

.alert-warning button {
  font-family: "arabicFont";
  cursor: pointer;
  background-color: #ff4e6aff;
  font-size: 12px;
  color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  width: auto;
}

.alert-info {
  text-align: right;
  padding: 20px;
  color: rgba(97, 97, 97, 0.9);
  background-color: #ffffff;
  margin: 20px;
}

.alert-info button {
  font-family: "arabicFont";
  cursor: pointer;
  background-color: #ff4e6aff;
  font-size: 12px;
  color: #ffffff;
  border-radius: 5px;
  padding: 15px;
  width: 100%;
  width: auto;
}

.box {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0px 30px;
  color: rgba(97, 97, 97, 0.9);
  border: #e0e0e0 solid 1px;
  margin-top: 20px;
}

.input-container {
  display: flex;
  position: relative;
}

.input-container input {
  border: transparent;
  background-color: #f8fbfcff;
  font-family: "arabicFont";
  border-radius: 5px;
  font-size: 14px;
  height: 30px;
  padding: 8px;
  width: 100%;
  outline: none;
  color: rgba(97, 97, 97, 0.9);
}

.input-container input:focus {
  border: #e0e0e0 solid 1px;
  border-color: #ff4e6aff !important;
  background-color: #ffffff;
}

.input-container input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}

.input-container input:disabled {
  background-color: #f8fbfcff !important;
}

.input-container input[type=file]::before {
  content: "\627\633\62A\639\631\627\636";
  border: #e0e0e0 solid 1px;
  border-radius: 10px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-size: 14px;
}

.input-container textarea {
  border: transparent;
  background-color: #f8fbfcff;
  font-family: "arabicFont";
  border-radius: 5px;
  font-size: 14px;
  height: 30px;
  padding: 8px;
  width: 100%;
  outline: none;
  color: rgba(97, 97, 97, 0.9);
  height: 200px;
}

.input-container textarea:focus {
  border: #e0e0e0 solid 1px;
  border-color: #ff4e6aff !important;
  background-color: #ffffff;
}

.input-container select {
  border: transparent;
  background-color: #f8fbfcff;
  font-family: "arabicFont";
  border-radius: 5px;
  font-size: 14px;
  height: 30px;
  padding: 8px;
  width: 100%;
  outline: none;
  color: rgba(97, 97, 97, 0.9);
  height: 48px;
}

.input-container select:focus {
  border: #e0e0e0 solid 1px;
  border-color: #ff4e6aff !important;
  background-color: #ffffff;
}

.input-container img,
.input-container .icon {
  left: 0;
  position: absolute;
  padding: 14px 4px;
  height: 20px;
  text-align: center;
}

ul.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

ul.pagination li {
  font-size: 14px;
  margin: 10px;
  list-style-type: none;
}

ul.pagination li.active {
  color: #ff4e6aff;
}

.empty {
  color: #ff4e6aff;
  font-size: 14px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

@media only screen and (max-width: 1440px) {
  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-11 {
    width: 91.66%;
  }

  .col-lg-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 425px) {
  .col-sm-1 {
    width: 8.33%;
  }

  .col-sm-2 {
    width: 16.66%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33%;
  }

  .col-sm-5 {
    width: 41.66%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33%;
  }

  .col-sm-8 {
    width: 66.66%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33%;
  }

  .col-sm-11 {
    width: 91.66%;
  }

  .col-sm-12 {
    width: 100%;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-height: 100vh;
  width: 100%;
  background-color: #ffffff;
}

.main-container .section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.main-container .header {
  height: 50px;
}

.main-container .company-info {
  background-color: #0abb87;
  color: white;
  min-height: 500px;
}

.main-container .company-info h1 {
  font-size: 50px;
}

.main-container .company-info img {
  margin-right: 100px;
}

.main-container .mediable {
  min-height: 300px;
}

